html,
body {
	height: 100%;
	margin: 0; /* xóa margin mặc định */
}

body {
  background: linear-gradient(135deg, #89f7fe, #66a6ff, #fbc2eb, #a6c1ee);
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.card {
	color: white;
	border-radius: 26px;
	padding: 20px;
	width: fit-content;
	text-align: center  ;
	margin: auto;
	margin-top: 150px;
	background-color: #1892d8;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease;
}
.card:hover {
	transform: translateY(-10px);
	box-shadow: 0 10px 29px rgba(0, 0, 0, 0.3);
}
.image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 4px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
	transition: all 0.3s ease;
}

/* Khi di chuột vào ảnh, cho bóng sáng mạnh hơn một chút */
.image:hover {
	box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
	transform: scale(1.05);
}

.name {
	font-size: 20px;
	font-weight: bold;
	color: rgb(183, 255, 0);
	padding: 5px;
	margin: 10px;
}

.pos {
	font-size: 17px;
	font-weight: bold;
	color: yellow;
	margin: 0 0;
}
.icons {
	width: 70%;
	height: fit-content;
	display: flex;
	justify-content: space-around;
	list-style: none;
	gap: 10px;
	margin: auto;
	padding: 0 0;
}

.fa-linkedin {
	background: none;
}

i {
	padding: 0;
}

li {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	background-color: rgb(250, 250, 250, 0.4);
}

li:hover {
	color: purple;
	background-color: rgb(250, 250, 250, 0.7);
}